<div class="checkout-content" data-step-id="confirmation">
    <div class="comment-caption">
        Комментарий к заказу:
    </div>
    <textarea class="comment" name="comment"></textarea>

    <div class="checkout__caption">Итого</div>

    {if !empty($error)}
    <div class="checkout-result error">{$error}</div>
    {/if}

    <div style="display: none">
        <h3>[`Ship to`]</h3>
        <p>{$contact.name|escape}<br>
            {$shipping_address.value}</p>

        {if $billing_address}
        <h3>[`Bill to`]</h3>
        <p>{$contact.name|escape}<br>
            {$billing_address.value}</p>
        {/if}
    </div>

    <ul class="cart-rows">
        {foreach $items as $item}
        <li class="cart-row" data-id="{$item.id}">
            <div class="cart-row__inner" style="float: left">
                <span class="cart-row__name cart-row__element cart-row__total">
                    {$item.product.name|escape|upper}
                    {*if $item.sku_name && $item.sku_name != $item.product.name}{$item.sku_name|escape}{/if*}
                </span>

            </div>

            <div class="cart-row__inner-right" style="float: right">
                <span class="cart-row__sku cart-row__element cart-row__total">
                    <span class="cart-row__sku-value">{$item.sku_name}</span>
                </span>

                <span class="cart-row__price cart-row__element cart-row__total">
                    {shop_currency_html($item.price * $item.quantity, $item.currency)}
                </span>

            </div>
        </li>

        {if !empty($item.error)}
        <script>alert({json_encode($item.error)
        })
        ;</script>
        {/if}
        {/foreach}

    </ul>

    <div class="cart-total cart-total_{count($items)}">
        <div class="cart-total__section cart-total__section_subtotal">
            <span class="cart-total__label">Подытог:</span>
            <span class="cart-total__price">{shop_currency_html($subtotal, true)}</span>
        </div>
        {if $discount > 0}
        <div class="cart-total__section cart-total__section_discount">
            <span class="cart-total__label">Скидка:</span>
            <span class="cart-total__price">&minus; {shop_currency_html($discount, true)}</span>
        </div>
        {/if}

        <div class="cart-total__section cart-total__section_shipping">
            <span class="cart-total__label">Доставка:</span>
            <span class="cart-total__price">{shop_currency_html($shipping, true)}</span>
        </div>
        <div class="cart-total__section cart-total__section_total">
            <span class="cart-total__label">Общая сумма:</span>
            <span class="cart-total__price">{shop_currency_html($cart.total, true)}</span>
        </div>
    </div>
    <div style="clear: both""></div>

    <a href="#" class="back-to-cart">Вернуться в корзину</a>

    {if !empty($terms)}
    <br>
    {if waRequest::method() == 'post' && !$wa->post('terms')}
    <p class="error">[`You must read and agree to the Terms of service to place an order.`]</p>
    {/if}
    <label><input type="checkbox" {if $wa->post('terms')}checked="checked"{/if} name="terms" value="1"> {sprintf('[`I
        have read and agree to the <a href="%s" target="_blank">Terms of service</a>`]',
        $wa->getUrl('/frontend/checkout', ['step' => 'confirmation'])|cat:'?terms=1')}</label>
    {/if}


    <!-- plugin hook: 'frontend_checkout' -->
    {* @event frontend_checkout.%plugin_id% *}
    {foreach $frontend_checkout as $_}{$_}{/foreach}

</div>
