<link rel="stylesheet" href="{$wa_app_static_url}plugins/onestep/css/onestep.css">

<script src="{$wa_app_static_url}plugins/onestep/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{$cart_js_url}"></script>

<div class="onestep-cart">
    {if !$cart.count}

    <div class="cart your-cart-is-empty">
        <p>Вы еще ничего не добавили в корзину.</p>
    </div>

    {else}
        <form method="post" class="cart-form" action="/checkout">
            <!-- sixteen-column cart layout -->
            <div class="cart cart-summary-page">

                {if !empty($cart.items)}
                <ul class="cart-rows">
                    {foreach $cart.items as $item}
                    <li class="cart-row" data-id="{$item.id}">
                        <div class="cart-row__inner" style="float: left">
                            <a class="cart-row__link cart-row__element" href="{$wa->shop->productUrl($item.product)}"
                               title="{$item.product.name|escape}">
                                {$wa->shop->productImgHtml($item.product, '96', ['default' =>
                                "`$wa_theme_url`img/dummy48.png"])}
                                    <span class="cart-row__name cart-row__element">
                                        {$item.product.name|escape|upper}
                                        {*if $item.sku_name && $item.sku_name != $item.product.name}{$item.sku_name|escape}{/if*}
                                    </span>
                            </a>
                        </div>

                        <div class="cart-row__inner-right" style="float: right">
                                <span class="cart-row__sku cart-row__element">
                                    <span class="cart-row__sku-value">{$item.sku_name}</span>
                                </span>

                                <span class="cart-row__price cart-row__element">
                                    {shop_currency_html($item.full_price, true)}
                                </span>

                            <a href="#" title="Удалить из корзины" class="delete cart-row__delete cart-row__element">

                            </a>
                        </div>
                    </li>

                    {if !empty($item.error)}
                    <script>alert({json_encode($item.error)
                    })
                    ;</script>
                    {/if}
                    {/foreach}

                </ul>

                {/if}

                <div class="cart-total">
                    <div class="cart-total__section cart-total__section_total">
                        <span class="cart-total__label">Итого:</span>
                        <span class="cart-total__price">{shop_currency_html($cart.total, true)}</span>
                    </div>

                    <button class="cart-total__checkout">Перейти к оформлению</button>
                </div>

                <!-- discount -->
                <!--<div class="row no-border" {if !shopDiscounts::isEnabled('coupons') && !$discount}style="display:none"{/if}
                    id="discount-row">
                <div class="col w10 cart-coupon no-border">

                    {if shopDiscounts::isEnabled('coupons')}
                    <div {if !$coupon_code}style="display: none;" {/if} id="apply-coupon-code">
                    [`Coupon code`]:
                    <input type="text" name="coupon_code" value="{$coupon_code|escape}"> <input type="submit"
                                                                                                value="[`Apply`]"
                                                                                                class="gray small">
                        {if $coupon_code && empty($coupon_discount)}
                        <div class="errormsg">[`Invalid coupon code`]</div>
                        {/if}
                    {/if}
                </div>-->


            </div>
            <!--<div class="col w2 align-center">[`Discount`]</div>
            <div class="col w3 align-center cart-discount nowrap">&minus; {shop_currency_html($discount, true)}</div>
            <div class="col w1"></div>-->
            <div class="clear-both"></div>
        </form>

        {$related = $wa->shop->crossSelling($cart.items, 'product_id')}
        {if $theme_settings.cart_crossselling == 'common' && $related}
            <div class="row no-border">
                <div class="col w16 related">

                    <h4><strong>[`Recommended!`]</strong> {sprintf('[`Customers who bought %s also bought`]',
                        $item.product.name|escape)}:</h4>
                    {include file="list-thumbs-mini.html" products=$related without_form=true}
                    <div class="clear-both"></div>
                </div>
            </div>
        {/if}

        {include file=$checkout_path}

        <!-- plugin hook: 'frontend_cart' -->
        {* @event frontend_cart.%plugin_id% *}
        {foreach $frontend_cart as $_}{$_}{/foreach}



    {/if}


</div>

<!-- affiliate bonus -->
<!--
{if shopAffiliate::isEnabled() && $affiliate_bonus > 0}

<div class="row no-border">
    <div class="col w12 no-border">
        {sprintf('[`Your current affiliate bonus of %s points allows you to get an additonal discount of up to %s`]',
        $affiliate_bonus, shop_currency_html(shopAffiliate::convertBonus($affiliate_bonus)))}
        {if $use_affiliate}
        <a id="cancel-affiliate" href="#">[`Don’t use bonus discount`]</a>
        {else}
        <input type="submit" name="use_affiliate" class="small gray" value="[`Use bonus`]">
        {/if}
    </div>
    <div class="col w3 align-center affiliate-discount">&minus; {if
        $use_affiliate}{shop_currency_html(shopAffiliate::convertBonus($used_affiliate_bonus))}{else}0{/if}
    </div>
    <div class="col w1">&nbsp;</div>
</div>
{/if}
-->



